{% extends 'adminBase.html.twig' %}

{% block title %}
    Spørreundersøkelser
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Undersøkelser</li>
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}


{% block body %}
    <h1 style="color:red">Undersøkelser utfases</h1>
    <h2 style="color: lightcoral">- Benytt Google Forms for å lage undersøkelsen</h2>
    <h2 style="color: lightcoral">- Generer deretter e-postliste (/kontrollpanel/epostlister) for å sende ut lenke til undersøkelsen</h2><br>

{% endblock %}
