/bootstrap/compiled.php
.env.*.php
.env.php
.env


### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/

*.iml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/
npm-debug.log

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

### Symfony ###
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/config/parameters.yml
/var/cache/*
!var/cache/.gitkeep
/var/data
!/var/data/.gitkeep
/var/log/*
!var/log/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/signatures/
/public/assets/
/public/images/
/public/fonts/
/public/webfonts/
/public/files/
/public/js/
/public/vendor/
/public/css
/public/static
/public/media/
!/public/media/.gitkeep

#npm
/node_modules/

.php_cs.cache

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# php-cs-fixer
/tools
.php-cs-fixer.cache
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
