{%  extends 'base.html.twig' %}


{%  block title %}
    Vektorprogrammet
{%  endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/parents.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">


        <div class="parents-infosite content">
            <div class="page-header">
                <h1>Informasjon for foreldre</h1>
                <p>Lurer du, som forelder, på mer om Vektorprogrammet?
                   Her finner du informasjon om våre assistenter, kvalitetssikring, og foreldrekurs.</p>

            </div>
            <section class="row space">
                <div class="col-md-6">
                    <h2>Assistentene</h2>
                    <p>Et verv som assistent hos Vektorprogrammet er ettertraktet blant studenter.
                        Det gjør at vi kan håndplukke de aller beste til jobben. De er faglig sterke,
                        som brenner for matematikk. I tillegg har alle assistentene våre vært gjennom
                        et pedagogikkurs før de blir utplassert på skolene. Du kan derfor være sikker
                        på at assistentene våre gjør en god jobb.</p>
                </div>

                <div class="col-lg-6">
                    <br><br>
                    <img class="image-fluid image-grid flex-column" src="{{ asset_with_version('images/assistants_foreldre.jpg') }}" alt="Assistenter">
                </div>
            </section>

            <section class="row space">
                <div class="col-lg-6">
                    <img class="img-fluid image-left image-grid" src="{{ asset_with_version('images/assistenter.jpg') }}" alt="Assistenter">
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid image-right image-grid" src="{{ asset_with_version('images/vektorassistent.jpg') }}" alt="Assistenter">
                </div>
            </section>

            <section class="row space">
                <div class="col-md-12">
                    <h2>Foreldrekurs</h2>
                    <p>Foreldrekurs foregår på kveldstid, og er rettet mot foreldre. Dette blir arrangert
                        1-3 ganger i året av skolekoordineringsteamet i Vektorprogrammet Trondheim. Dette
                        er et tiltak for foreldre ved Vektorprogrammets samarbeidsskoler - slik at dere får
                        et enda bedre grunnlag for å kunne hjelpe deres ungdommer med matematikken på hjemmebane.
                    <br><br>
                        Kursene blir vanligvis holdt i Realfagsbygget på NTNU Gløshaugen, med lett bespisning
                        (kaffe, kaker, kjeks).</p>

                    <br><br>
                    <h3>Hvorfor foreldrekurs?</h3>
                    <p>Målet er at foreldre
                        skal kunne hjelpe barnet sitt med matematikk, og lære om hvorfor matematikk er et så viktig
                        og spennende fag. Det har tidligere blitt holdt kurs innen innføring i motivasjon, pedagogikk
                        og matematikk tilpasset ungdomsskolenivå. Eksamenskurs, der det har blitt gjennomgått gamle
                        eksamensoppgaver, har også blitt holdt tidligere. </p>
                    <br><br>
                </div>
            </section>




        </div>
    </div>
{% endblock %}
