{% extends 'adminBase.html.twig' %}
{% block title %}
    Gi oss feedback!
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        {{ render(controller('App\\Controller\\WidgetController::feedback', {'request': app.request})) }}
    </div>
{% endblock %}
