{% extends "adminBase.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Admins</li>
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Roles</th>
        </tr>
    {% for admin in AdminList %}
        {% for fullName in admin %}
        <tr>
            <td></td>
            <td> {{ fullName }} </td>
            <td> Admin </td>
        </tr>
        {% endfor %}
    {% endfor %}


    </table>
{% endblock %}
